@tailwind base;
@tailwind components;
@tailwind utilities;

.alternova-font {
    color: #e71e6e;
}

.alternova-bg {
    background-color: #e71e6e;
}

.alternova-border {
    border-color: #e71e6e;
}
